@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('fonts/BAHNSCHRIFT.woff') format('woff');
}

* {
    font-family: "Bahnschrift Regular";
    scroll-behavior: smooth;
    box-sizing: border-box;

}

body {
    margin: 0px;
    background: #f4f7f6;
}

nav {
    position: relative;
    background: #343434;
    z-index: 100;
    height: 67px;
}

nav .burger-menu {
    position: absolute;
    left: -80%;
    width: 80%;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 200;
    background: #343434;
    color: #fff;
    transition: left 0.3s ease-out;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    padding: 1.5rem;

}

@media screen and (min-width: 768px) {
    nav .burger-menu {
        position: absolute;
        left: -40%;
        width: 40%;
    }
}

nav .burger-menu-icon {
    position: absolute;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    width: 2rem;
    height: 2rem;
}

nav .burger-menu-icon a {
    cursor: pointer;
}

nav .burger-menu.open {
    left: 0;
}

nav .burger-menu__toolbar {
    margin: 0;
    padding: 0.5rem 0 0 0.5rem;

}

nav .burger-menu ul {
    list-style: none;
    margin: 15% 0 0 30%;
    padding: 0;
}

nav .burger-menu ul li {
    margin: 1rem;
    padding: 0;
}

nav .burger-menu ul a {
    color: #fff;
}

nav .burger-menu ul li.active {
    border: 0 solid transparent;

}

nav .burger-menu ul li:hover {
    color: #74afcf;
}

nav .burger-menu ul li.active a {
    color: #74afcf;
}

ul {
    margin: 0px;
    padding-bottom: 5px;
}

nav > ul li {
    display: inline-block;
    padding: 5px;
}

nav > ul li h1 {
    margin-bottom: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
}

nav ul,
.logo .center {
    vertical-align: middle;
}

header nav ul li .active {
    color: #74afcf;
}

header {
    background: #343434;
}

a {
    text-decoration: none;
    color: #73AECE;
}

.banner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.strip {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    width: 300%;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_text {
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-50%,-50%);
    padding-top: 15px;
}

.banner_text h2 {
    margin:0px;
    padding: 0px 5px;
    color: #F4F7F6;
    font-size: 1.2rem;
}

.banner_text a h2 {
    background: #F4F7F6;
    color: #343434;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
}

.slider-arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    top: 45%;
    left: 0;
    right: 0;
    padding: 0 10px;    
}

.slider-arrows .arrow-left {
    display: block;
    background: url(img/arrow-go-left.svg) no-repeat;
    width: 38px;
    height: 52px;
    z-index: 100;
}

.slider-arrows .arrow-right {
    display: block;
    background: url(img/arrow-go-right.svg) no-repeat;
    width: 38px;
    height: 52px;
    z-index: 100;
}

nav .burger-menu ul li.active {
    box-shadow: 0 0 transparent;
}

main {
    background: #F4F7F6;
    min-height: calc(100vh - 67px);
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

@media screen and (min-width: 768px) {
    main {
        background: #F4F7F6;
        min-height: calc(100vh - 67px - 216px);
    }
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.container img {
	max-width: 350px;
	padding: 70px 10px;
    background-color: #F2F2F2;
    border-radius: 1px;
}

.container h6 {
    position: relative;
    margin: 0px;
    top: 10px;
    left: 10px;
    transform: translateY(100%);
}

main > div:first-child {
    padding-top: 70px;
}

main > div.banner {
    padding-top: 0;
}

.logo img {
    height: 2rem;
    width: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog {
    background-color: white;
}

.blogEntry {
    margin-bottom: 2rem;
}

.blogImg img {
    width: 100%;
    height: auto;
}

.blogText {
    font-size: 14px;
    text-align: justify;
    max-width: 960px;
}

.blogText > h2 {
    margin-top: 0;
}

.more {
    display: none;
}

@media screen and (min-width: 992px) {
    .blogEntry {
        display: flex;
        align-items: space-between;
        justify-content: center;
    }

    .blogImg {
        padding: 0 2rem;
    }

    .blogImg img {
        width: 380px;
        height: auto;
    }
}

@media screen and (min-width: 1140px) {
    .blogImg img {
        width: 480px;
    }
}

#Btn {
    text-decoration: none;
    background: none;
    border: none;
    padding: 0;
    font-family: 'Bahnschrift Regular';
    text-decoration: underline;
    cursor: pointer;
}

.filters {
    display: flex;
    justify-content: flex-start;
}

.filters .filter {
    border-right: 1px solid #343434;
}

.filters button {
    border: 0 solid transparent;
    background-color: #343434;
    padding: 6px 10px;
    color: #fff;
}

.filters > div {
    margin-right: 10px;
}

.filters > div:last-child {
    padding-left: 10px;
}

.filters select {
    border: 0 solid transparent;
    font-size: 16px;
    background-color: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2215%22%20height%3D%229%22%20viewBox%3D%220%200%2015%209%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cline%20x1%3D%220.353553%22%20y1%3D%220.646447%22%20x2%3D%227.85355%22%20y2%3D%228.14645%22%20stroke%3D%22black%22%2F%3E%3Cline%20y1%3D%22-0.5%22%20x2%3D%2210.6066%22%20y2%3D%22-0.5%22%20transform%3D%22matrix(-0.707107%200.707107%200.707107%200.707107%2015%201)%22%20stroke%3D%22black%22%2F%3E%3C%2Fsvg%3E');
    background-position: 80% center;
    background-repeat: no-repeat;
    padding-right: 36px;
    width: 110px;
    text-align: center;
}

.filters select::-ms-expand {
    display: none;
}

.bike_card {
	margin:20px;
    position: relative;
}

.myBtn {
	background: none;
    text-align: left;
}

.learn_more{
    background: #343434;
    color: #F4F7F6;
    margin:0px;
    padding:5px;
    position: absolute;
    left: 15px;
    bottom: 20px;
    border: 0px;
    border-radius: 2px;
}
.learn_more h4{
    padding: 0px;
    margin: 0px;
}

.bike_card .card_brand, .bike_card .card_name{
    position: absolute;
    left: 15px;
    margin: 0px;
}
.bike_card .card_brand{
    top: 15px;
}
.bike_card .card_name{
    top: 38px;
}
.hidden{
    opacity: 1;
    display: none;
    /*visibility: hidden;*/
}
@keyframes anime {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.anim {
    /*transition: opacity .8s linear;*/
    animation: anime 0.5s ease-in-out;
    /*opacity: 1;*/
}
.slider {
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
}

.slider.center {
    min-width: 300px;
}

.slider li {
    display: inline-block;
}
.slider li > a > span {
    display: inline-block;
    border-radius: 50%;
    margin: 30px 30px 10px 30px;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    background: #F4F7F6;
}

.slider li > a > .active {
    animation: anim_slider 1s;
    height: 30px;
    width: 30px;
}

@keyframes anim_slider {
    from {
        height: 15px;
        width: 15px;
    }
    to {
        height: 30px;
        width: 30px;
    }
}

.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /*filter: blur(5px);*/
  /*-webkit-filter: blur(5px);*/
}
.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  margin-bottom: 10%;
}

.close {
  color: #f4f7f6;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #343434;
  text-decoration: none;
  cursor: pointer;
}

.cat {
    text-align: left;
}

.cat > li {
    font-weight: bold;
}

.cat > li > span {
    font-weight: normal;
    float: right;
}

.modal-content li {
    margin: 15px;
}

.modal-content > img {
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 1px solid #343434;
}

.modal-content ul {
    list-style: none;
}

.description {
    text-align: left;
    align-content: left;
    padding: 50px;
}

.col_6 {
    width: 49.999999%;
    float: left;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    left: 0;
    background: #343434;
    color: #f4f7f6;
}

footer .col3 {
    width: 100%;
    padding: 20px;
}

@media screen and (min-width: 768px) {
    footer {
        height: 216px;
    }

    footer .col3 {
        width: auto;
    }
}

footer.container {
    align-items: flex-start;
}

footer h3 {
    margin: 20px 0;
}
footer h4 {
    margin: 10px 0;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
